<div class="row col-md-8 col-md-offset-2">
    <div class="col-md-2">
        <div class="list-group text-center">
            <a class="list-group-item" href="">all</a>
            <a class="list-group-item" href="">node</a>
            <a class="list-group-item" href="">angular</a>
            <a class="list-group-item" href="">react</a>
            <a class="list-group-item" href="">native</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="ngGrid" ng-grid="gridOptions"></div>
    </div>
</div>